body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------GRID LAYOUT-------------------------------------------------------------------------------------------*/
/*------------------Definimos el GRID container---------------------------------*/

main {
    display: grid;
    flex-direction: column;
    grid-gap: 20px;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
}

/*------------------Nombramos los elementos de este grid------------------------*/

header {
    grid-area: header;
}

article {
    grid-area: contenido;
}

footer {
    grid-area: footer;
}

/*------------------Damos formato a las clases---------------------------------------------------------------------*/
/* For desktop*/

.background {
    padding: 20px;
}

.bg-grey {
    background-color: lightgray;
}

.bg-navigation {
    background-image: url(./recourses/header.jpg);
    background-color: white;

    height: 390px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------------------------Menu---------------------------------*/
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.logo {
    flex-grow: 1;
    text-align: left;

    display: inline-block;
    animation: moverDerecha 1s ease-in;
}

.img-logo {
    width: 100%;
    height: auto;
    max-width: 40px;
}

.nav-2 {
    flex-grow: 3;
}

.nav-3 {
    flex-grow: 0.4;
    animation: moverIzquierda 1s ease-in;
}

.nav-2,
.nav-3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 80%;
    color: dimgray;
}

a:hover {
    color: #b46060;

}

/*---------------------------------Header---------------------------------*/
.header {
    background-color: rgb(128, 128, 128, 0.2);
    justify-content: space-between;

    margin-left: 60px;
    margin-right: 60px;

    padding: 5px;

    animation: moverArriba 1s ease-in;
}

.cabecera {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #db947a;

}

/*---------------------------------Body---------------------------------*/
.cuerpo {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    background-color: white;
}

.articulo {
    background-color: lightgray;
    flex-direction: row;
    flex-grow: 2;
}

.noticia {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 20px;
    align-content: center;
    justify-content: space-evenly;

}

.art {
    background-color: rgb(237, 237, 237);
    padding: 20px;
}

.art-5 {
    background-color: transparent;
    text-align: center;
    grid-column: 1 / 3;
}

.art>div {
    position: relative;
    margin: 5px;
}

.img-article {
    background-color: transparent;

    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.img1 {
    background-image: url(./recourses/sakura.jpg);
}

.img2 {
    background-image: url(./recourses/comida.jpg);
}

.img3 {
    background-image: url(./recourses/fuji.jpg);
}

.img4 {
    background-image: url(./recourses/noche.jpg);
}

.txt-imagen {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: yellow;
}

.txt-title {
    background-color: #f08080;

    color: white;
    font-family: monospace;
    font-size: 170%;
    letter-spacing: 2px;

    padding-left: 5px;
    padding-top: 10px;
}

.txt-columns {
    column-count: 2;
    padding-top: 20px;
}

.txt-link {
    position: absolute;
    bottom: -10px;
    color: dimgray;
}

.txt-link:hover {
    color: black;
}

aside {
    background-color: lightgray;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding: 20px;
    text-align: center;


}

/*---------------------------------Footer---------------------------------*/
footer {
    background-color: lightgray;
}

footer>div {
    background-color: rgb(237, 237, 237);
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    color: hsl(0, 0%, 0%, 70%);
}


/*------------------Adaptaciones---------------------------------------------------------------------*/
/* For tablet*/
@media (max-width: 1024px) {
    .cabecera {
        font-weight: bold;
        color: #ff8989;
    }

    .cuerpo {
        flex-flow: column nowrap;
    }
}


/* For mobile*/
@media (max-width: 767px) {
    .ocultar {
        display: none;
    }

    .navigation {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        justify-items: center;
        margin-bottom: 10px;
    }

    .logo {
        animation: aparecer 1s ease-in;
    }

    .nav-2 {
        padding: 0px;
        gap: 30px;
        font-size: 120%;
    }

    .nav-3 {
        display: none;
    }

    .header {
        background-color: transparent;
        background-image: linear-gradient(transparent, rgb(128, 128, 128, 50%));
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .cuerpo {
        gap: 0px;
    }

    .noticia {
        display: block;
        background-color: white;
    }

    .art {
        margin-bottom: 20px;
    }

    .art-5 {
        background-color: rgb(237, 237, 237);
    }

    aside {
        background-color: rgb(237, 237, 237);
    }

    footer,
    footer>div,
    .bg-grey {
        background-color: transparent;
    }

}

/*------------------Keyframes---------------------------------------------------------------------*/

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moverArriba {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }    
}