.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.pokerContainer {
    display: block;
}

.dado {

    display: inline-block;

    margin: 10px;
    padding: 10px;

    height: 40px;
    width: 40px;

    border-radius: 1px;
    border-style: solid;

    font-weight: 900;
    font-size: 200%;
    text-align: center;
}

p {
    margin: 20px;
    text-align: center;
    align-items: center;
}